footer.container#footer
    hr
    .outer-container
        .inner-container
            .sponsors Sponsors:
            .clearboth
            a.link(href='http://www.greenlivingaz.com' target='_blank')
                img.image(src='footer-green-living.png' alt='Green Living')
            a.link(href='https://www.happycow.net' target='_blank')
                img.image(src='footer-happy-cow.jpg' alt='Happy Cow')
            a.link(href='http://www.naturalaz.com' target='_blank')
                img.image(src='footer-natural-awakenings.png' alt='Natural Awakenings')
            .clearboth
    
    a.email-link(href='mailto:christo8989@gmail.com?subject=Website Help', title='Website Developer') christo8989@gmail.com