header.container#header
    img.image(src='/header.png' alt='header image')
    .container.black
        .outer-container
            .inner-container
                a.link#home(href='/') Home
                a.link#info(href='info') Info
                a.link#vendors(href='vendors') Vendors
                a.link#bands(href='bands') Bands
                a.link#volunteer(href='volunteer') Volunteer
                a.link#contact(href='contact') Contact
            .clearfix
        