
a.big-link {
    width:100%;
    padding: 10px 0;
    text-align:center;
    text-decoration: none;
    
    .link {
        background-color: $primary;
        color: $white;
        font-size:$font-largest;
        
        &:visited {
            color: $primary-darker;
        }
        
        &:hover,
        &:active {
            color:$primary-darkest;
        }
    }
}

.text-picture {
    width:100%;
    
    .text {
        width:50%;
        float:left;
    }
    
    .picture {
        width:50%;
        float:left;
    }
}

.text-icon {
    width:100%;
    
    .text {
        width:50%;
        float:left;
    }
    
    .icon {
        width:50%;
        float:left;
    }
}

.text-text {
    .text {
        width: 48%;
        
        &.left {
            margin-right: 2%;
            float:left;
        }
        
        &.right {
            margin-left: 2%;
            float:right;
        }
    }
}

span.strikethrough {
    color: $red;
    text-decoration: line-through;
    
    span {
        color: $font-color;
    }
}

.image-grid {
    
    .image-grid-container {
        width: 100%;
    }
    
    .item-container {
        $padding: 5px;
        $margin: 3px;
        $width: ($width / 4) - (($margin + $padding) * 2) ;
        $title-container-height: 20px;
        $margin-top: $width - $title-container-height;
        
        width: $width;
        margin: $margin;
        padding: $padding;
        float: left;
        position: relative;
        opacity: 0.7;
        
        &:active,
        &:hover {
            opacity:1;
        }
        
        .item-title-container {
            position:absolute;
            width:$width;
            height:$title-container-height;
            margin-top: $margin-top;
            background-color: $darker;
            opacity: 0.5;
        }
        
        .title {
            position: absolute;
            width:$width;
            margin-top: $margin-top;
            font-size: $font-small;
            color: $lightest;
            opacity: 1;
        }
    }
}

#TicketInformation {
    $border: 2px solid $primary-darkest;
    
    .ticket-container {
        padding: 25px;
        //border-top: $border;
        border-bottom: $border;
    }
    
    .ticket-inner-container {
        padding-left: 65px;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    &:hover,
    &:active {
        cursor: pointer;
        background-color: $lightest;
    }
}

#VenueInformation {
    
    .venue-outer-container {
        width: 100%;
        padding: 0;
    }
    
    .venue-inner-container {
        width: 320px;
        padding: 0 20px;
        float: left;
    }
}

#Vote {
    .newtimes-container {
        padding:0;
        margin: 0 0 10px 0;
        
    }
    
    .left-container {
        float: left;
        
        img {
            display: block;
            width: 304px;
            height: 209px;
        }
    }
    
    .right-container {
        float: left;
        border: solid 5px $white;
        
        &:hover,
        &:active {
            border: solid 5px $secondary;
        }
        
        img {
            display: block;
            width: 606px;
            height: 199px;
        }
    }
}
