
// COLORS \\
$primary: #8EBE3F;
$primary-darkest: $primary - 80;
$primary-darker: $primary - 40;
$primary-dark: $primary - 20;
$primary-light: $primary + 20;

$black: #000;
$darkest: $black + 40;
$darker: $black + 60;
$dark: $black + 80;

$white: #fff;
$lightest: $white - 20;
$lighter: $white - 40;
$light: $white - 80;

$red: red;

$color-facebook: #0844a4;
$color-twitter: #00a4d3;
$color-instagram: #8c3d22;


// FONTS \\
$font-menu: 24px;

$font-normal: 24px;
$font-largest: $font-normal + 20px;
$font-large: $font-normal + 8px;
$font-small: $font-normal - 8px;
$font-smallest: $font-normal - 12px;

$font-color: $darkest;


// LAYOUT \\
$min-width: 960px;
$width: $min-width - 40px; //40 from the page padding
$footer-height: 50px;
$indent: 25px;
$indent2: $indent * 2; 
