@import 'variables';

#CONTACT {
    .text-text {
        $left-width: 600px;
        $right-width: $min-width - $left-width - 40px; // 40 from the pages padding
        
        .left {
            width:$left-width;
            margin:0;
        }
        
        .right {
            width:$right-width;
            margin:0;
            
            .link {
                font-size:100px;
                margin: 10px;
                float: right;
                text-decoration:none;
                
                .icon {
                    width: 100%;
                    height: 100%;
                    color: $darkest;
                    
                    &#facebook {
                        &:hover,
                        &:active {
                            color:$color-facebook;
                        }
                    }
                    
                    &#twitter {
                        &:hover,
                        &:active {
                            color:$color-twitter;
                        }
                    }
                    
                    &#instagram {
                        &:hover,
                        &:active {
                            color:$color-instagram;
                        }
                    }
                    
                }
            }
        }
    }
    
    .image {
        width:$width;
    }
}