#HOME {
    .text-picture {
        
        .text {
            margin-top:10px;
            text-align:center;
        }
        
        .picture {
            width:420px;
            float:right;
        }
    }
}