#HOME {
    
    .home-top-image-container {
        height:400px;
    }
    
    .text-picture {
        
        .text {
            margin-top:10px;
            text-align:center;
        }
        
        .picture {
            width:420px;
            float:right;
        }
    }
}