@import 'variables';
@import 'mixins';
@import 'components';

//var pathFontAwesome = '../../node_modules/node-font-awesome/node_modules/font-awesome';
//@import '../../node_modules/node-font-awesome/node_modules/font-awesome/scss/variables';
//@import '../../node_modules/node-font-awesome/node_modules/font-awesome/scss/icons';
//@import 'font-awesome';


// NORMALIZE \\
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:$font-normal;
    color: $font-color;
    background-color: $white;
    margin:0;
    padding:0;
}

ul {
    margin:0;
    padding:0;
}

li {
    list-style: none;
}



// CONTAINERS \\
.container {
    width: 100%;
    min-width:$min-width;
}

.no-overflow-container {
    width: 100%;
    overflow: hidden;
}

.small-container {
    width: 75%;
    padding: 1% 2%;
    margin: 1px;
}

.half-container {
    width: 48%;
    padding:0 2%;
    box-sizing:border-box;
    float:left;
}

.outer-container {
    width:$min-width;
    margin: 0 auto;
}

.inner-container {
    width: 100%;
    padding: 20px;
    box-sizing:border-box;
}

    
.image {
    width:100%;
    display:block;
}


// LAYOUT \\
.center {
    text-align: center;
    margin-right:auto;
    margin-left:auto;
}

.no-margin {
    margin:0;
}

.no-top-margin {
    margin-top:0;
}

.no-bottom-margin {
    margin-bottom:0;
}

.float-right {
    float:right;
}

.indent,
.indent1 {
    padding-left: $indent;
}

.indent2 {
    padding-left: $indent * 2;
}

.indent3 {
    padding-left: $indent * 3;
}



// FONTS \\
.font-largest {
    font-size:$font-largest;
}

.font-large {
    font-size:$font-large;
}

.font-small {
    font-size:$font-small;
}

.font-smallest {
    font-size:$font-smallest;
}

.font-bold {
    font-weight: 700;
}



// COLORS \\
.black {
    background-color:$black;
}

.color-facebook {
    color:$color-facebook;
}

.color-twitter {
    color:$color-twitter;
}

.color-instagram {
    color:$color-instagram;
}



// TEXT COLORS \\
.font-red {
    color: $red;
}

.font-color {
    color: $darkest;
}

.font-white {
    color: $lightest;
}



// HEADER \\
#header {
    background-color:#ebebeb;
    
    .inner-container {
        padding:0;
    }
    
    .link {
        width:16%;
        float:left;
        color:$white;
        text-align:center;
        font-size:$font-menu;
        padding:5px;
        box-sizing:border-box;
        text-decoration:none;
        
        &:hover,
        &:active,
        &.active {
            color:#DAAE57;
        }
    }
}



// FOOTER \\
#footer {
    position:relative;
    background-color:$darkest;
    color:$dark;
    min-height:$footer-height;
    
    .inner-container {
        position:relative;
    }
    
    .sponsors {
        position:absolute;
        top: 10px;
        left:10px;
        font-size:$font-smallest;
    }
    
    .link {
        width:31%;
        margin:1%;
        float:left;
    }
    
    .image {
        width:auto;
        max-width:100%;
        max-height:100px;
        background-color: teal;  
        margin: 0 auto;
        border: 1px solid $white;
        
        &:hover,
        &:active {
            border: 1px solid $light;
        }
    }
    
    
    a.email-link {
        position:absolute;
        bottom:5px;
        right:5px;
        color:$dark;
        font-size:$font-smallest;
        
        &:hover,
        &:active {
            color:$light;
        }
    }
}
