extends ./shared/layout

block main
    .container#HOME
        .outer-container
            .inner-container
            
                .big-link
                    a.link(href='https://davissonent.tixato.com/buy/phx-vegan-festival', target='_blank') Purchase Tickets
                
                p.center Davisson Entertainment is proud to present the 
                    | first annual Phoenix Vegan Food Festival on 
                    | Saturday, February 27, 2016!
                
                .ticket-container
                    h2.center Ticket Information
                    .half-container
                        p.no-top-margin General Admission* - $25
                        p *General admission includes access to the event, 
                            | food samples, live entertainment and a drink token.
                    .half-container
                        p.no-top-margin VIP Admission** - $60 
                        p **VIP includes 1 hour early access to the event, 
                            | food samples, live entertainment, 2 drink tokens, 
                            | meet and greet and SWAG bag.
                    .clearfix

block page-meta
    META(NAME="robots" CONTENT="noindex")