extends ./shared/layout

block main
    .container#BANDS
        .outer-container
            .inner-container
                
                h1 Phoenix Vegan Fest 2017 Band Lineup
                p.small-container.center There will be over a dozen local bands and musicians playing during
                    | the 2017 Phoenix Vegan Festival.
                p.small-container.center  Visit this page as we get closer to February 25, 2017
                    | to see the list of amazing musicians!
                    
                br
                
                h4.no-bottom-margin Last Years Lineup
                .font-small
                    ul
                        li 
                            a(href='http://drinkingwatermusic.com' target='_blank') Drinking Water 
                        li
                            a(href='http://foresteater.com' target='_blank') Foresteater
                        li
                            a(href='https://www.sonicbids.com/band/weslynnmusic/audio' target='_blank') Weslynn 
                        li
                            a(href='https://www.reverbnation.com/pridethroughstrife' target='_blank') Pride Through Strife
                        li
                            a(href='http://www.soulectiveaz.com' target='_blank') Soulective 
                        li Kross Warr
                        li Raye Jones
                        li
                            a(href='https://soundcloud.com/shaye-jennings' target='_blank') Shaye Jennings
                        li 
                            a(href='https://www.facebook.com/kelirutledgemusic' target='_blank') Keli May Rutledge
                        li
                            a(href='https://soundcloud.com/jam_namaste' target='_blank') Jam Namaste
                        li
                            a(href='http://adamsmithmusicart.com' target='_blank') Adam Smith
                        li
                            a(href='https://www.reverbnation.com/saith' target='_blank') Saith

block page-styles
    //link(rel="stylesheet", href="/bootstrap.css", type="text/css")

block page-scripts
    //script(src="/bootstrap.js" type="text/javascript")
