extends ./shared/layout

block main
    .container#BANDS
        .outer-container
            .inner-container
            
                h1 Main Stage Lineup 
                    span.float-right 11:00am - 5:00pm
                .carousel.slide#band-carousel(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#band-carousel', data-slide-to='0')
                        li(data-target='#band-carousel', data-slide-to='1')
                        li(data-target='#band-carousel', data-slide-to='2')
                        li(data-target='#band-carousel', data-slide-to='3')
                        li(data-target='#band-carousel', data-slide-to='4')
                    
                    .carousel-inner(role='listbox')
                        .item.active
                            .text-picture
                                .picture
                                    img.image(src='/drinking-water.jpg', alt='Drinking Water')
                                .text  
                                    h1 Drinking Water
                                    
                                    p Drinking Water is a band from Yuma, Arizona formed in 2008.
                                        | The band currently resides in Las Vegas, Nevada. 
                                        | Members Siana, Bilo, and Henry combine their individual influences 
                                        | to create what is known as "That Drinking Water Sound". 
                                        | Listen to all of their multilingual songs for free at 
                                        | <a href='http://drinkingwatermusic.com' target='_blank'>drinkingwatermusic.com</a>.
                                        | The band has released three full length albums including their new acoustic full 
                                        | length release, "Gracias Adios". If you like good music with good lyrics, you'll enjoy
                                        | Drinking Water!
                                    a.link(href='http://drinkingwatermusic.com' target='_blank') Visit Drinking Water's Website 
                                    h1.time.band 11:00am - 12:00pm
                        .item  
                            .text-picture
                                .picture
                                    img.image(src='/foresteater.jpg', alt='Foresteater')
                                .text
                                    h1 Foresteater
                                    p Foresteater is a music project and band of Singer-Songwriter 
                                        | Mikey Pro from Phoenix. Their style has been described 
                                        | as Melodramatic, Psychedelic-tinged Indie Dream Rock.
                                    a.link(href='http://foresteater.com' target='_blank') Visit Foresteater's Website 
                                    h1.time.band 12:15pm - 1:15pm
                        .item
                            .text-picture
                                .picture
                                    img.image(src='/weslynn.jpg', alt='Weslynn')
                                .text 
                                    h1 Weslynn
                                    p In late 2013, three Arizona State University schoolmates and long time friends (Jared Geyer, Greg Olin, and Kevin Holmes) 
                                        | created the band WESLYNN and released their first home demo of "Shining Night". They gained a fan base 
                                        | locally and internationally by playing local coffee shops, venues, releasing free home recordings, 
                                        | and music videos online. WESLYNN brought a new vibrance to the local Arizona music scene. 
                                    a.link(href='https://www.sonicbids.com/band/weslynnmusic/audio' target='_blank') Visit Weslynn's Website 
                                    h1.time.band 1:30pm - 2:30pm
                        .item
                            .text-picture
                                .picture
                                    img.image(src='pride-through-strife.jpg', alt='Pride Through Strife')
                                .text 
                                    h1 Pride Through Strife
                                    p There is a growing reggae scene in Arizona. Whether it is the likes of Black Bottom Lighters, Veragroove, 
                                        | Fayuca or others, the sound of reggae is spreading like wildfire throughout the state. One of the more 
                                        | recent appearances of that sound, one of the more astounding is Pride Through Strife. Though, more well 
                                        | known for their live shows, their recent EP release has made it clear that they are here to stay. 
                                    a.link(href='https://www.reverbnation.com/pridethroughstrife' target='_blank') Visit Pride Through Strife's Website 
                                    h1.time.band 2:45pm - 3:45pm
                        .item
                            .text-picture
                                .picture
                                    img.image(src='soulective.jpg', alt='Soulective')
                                .text 
                                    h1 Soulective
                                    p Soulective is a 8 piece funk/soul cover band based in the Phoenix area. 
                                        | The band is known for their soulful sounds and unique covers, sending odes 
                                        | to singers/bands like Tower of Power, Aretha Franklin, Amy Winehouse, 
                                        | The Meters and everything in between. With powerful vocals, horns, guitar and drums, 
                                        | you get the best of everything and be sure to get out of your seat and groove with us! 
                                    a.link(href='http://www.soulectiveaz.com' target='_blank') Visit Soulective's Website 
                                    h1.time.band 4:00pm - 5:00pm
                    
                    a.left.carousel-control(href='#band-carousel',  role='button', data-slide='prev')
                        span.icon-prev(aria-hidden='true')
                        span.sr-only Previous
                    
                    a.right.carousel-control(href='#band-carousel',  role='button', data-slide='next')
                        span.icon-next(aria-hidden='true')
                        span.sr-only Next
                        
                .clearfix
                
                
                br
                br
                br
                
                
                
                h1 11:00am - 5:00pm 
                    span.float-right Acoustic Stage Lineup
                .carousel.slide#acoustic-carousel(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#acoustic-carousel', data-slide-to='0')
                        li(data-target='#acoustic-carousel', data-slide-to='1')
                        li(data-target='#acoustic-carousel', data-slide-to='2')
                        li(data-target='#acoustic-carousel', data-slide-to='3')
                        li(data-target='#acoustic-carousel', data-slide-to='4')
                        li(data-target='#acoustic-carousel', data-slide-to='5')
                        li(data-target='#acoustic-carousel', data-slide-to='6')
                    
                    .carousel-inner(role='listbox')
                        .item.active
                            .text-picture
                                .text  
                                    h1 Kross Warr
                                    p Kross is an up and coming musician here in the Valley. At 16 years of age, he is an active 
                                        | participant of the Arizona Music Project with ambitions to reach out to the community 
                                        | with his music for charitable events. He is also a member of the Basha High School Symphony
                                        | Orchestra.  He shows his appreciation for music by playing all genres to include Classic Rock, 
                                        | Blues, and Pop Rock.
                                    <!-- a.link(href='http://drinkingwatermusic.com' target='_blank') Visit Kross Warr's Website  --> 
                                    h1.time.acoustic 11:00am - 11:30am
                                .picture
                                    img.image(src='/kross-warr.jpg', alt='Kross Warr')
                        .item  
                            .text-picture
                                .text
                                    h1 Raye Jones
                                    p Born into a music family, Raye Jones hails from Tempe AZ. He started singing and writing songs 
                                        | at a young age and taight himself guitar at the age of 10. Music has been such a life changer
                                        | for him and has helped him overcome a lot in his life. Raye hopes to move and inspire people 
                                        | with his music one day and change this hobby into a career.
                                    <!-- a.link(href='http://foresteater.com' target='_blank') Visit Raye Jones's Website  -->
                                    h1.time.acoustic 11:30am - 12:00pm
                                .picture
                                    img.image(src='/raye.jpg', alt='Raye Jones')
                        .item
                            .text-picture
                                .text 
                                    h1 Shaye Jennings
                                    p Shaye has been in the Phoenix area for almost 2 years now and has played at the Phoenix Festival 
                                        | of the Arts and has had many shows around the valley. She is currently working on her first album.
                                    a.link(href='https://soundcloud.com/shaye-jennings' target='_blank') Visit Shaye Jennings's Website 
                                    h1.time.acoustic 12:15pm - 1:00pm
                                .picture
                                    img.image(src='/shaye-jennings.jpg', alt='Shaye Jennings')
                        .item
                            .text-picture
                                .text 
                                    h1 Keli May Rutledge
                                    p With a sound intriguing to many, Keli May Rutledge is a local phoenix singer/songwriter emerging 
                                        | into the Phoenix music scene. Starting her sophomore year at ASU in the fall, Keli hopes to 
                                        | continue to pursue music full-force, as she is now in the works of her first EP, or mini-album. 
                                        | With a powerful voice that meshes two elements, alternative and Motown soul, Keli has a fresh 
                                        | sense of musicality that was learned shortly before she could talk. She is continually baffled 
                                        | and humbled by the number of people who see what she calls "a passionate hobby", a beautiful 
                                        | performance. Keli hopes to inspire others through song and story.
                                    a.link(href='https://www.facebook.com/kelirutledgemusic' target='_blank') Visit Keli May Rutledge's Website 
                                    h1.time.acoustic 1:15pm - 2:00pm
                                .picture
                                    img.image(src='keli-may-rutledge.jpg', alt='Keli May Rutledge')
                        .item
                            .text-picture
                                .text 
                                    h1 Jam Namaste
                                    p Jam Namaste has been performing in the phoenix music scene for over six years now. He was a finalist 
                                        | in Alice Cooper's proof is in the pudding competition where he finished 1st place in his band and 
                                        | 2nd as a soloist. Performing out almost every single night he has played at venues such as: The Whiskey 
                                        | a Go-Go in LA, the Chandler Center for the Arts, Alice Cooperstown, Hard Rock Café and many more. 
                                        | His musical influences range from The Beatles to The Pixies and Jimmy Hendrix to Jason Mraz. 
                                        | His intention when he performs is to share a positive presence with others.
                                    a.link(href='https://soundcloud.com/jam_namaste' target='_blank') Visit Jam Namaste's Website 
                                    h1.time.acoustic 2:15pm - 3:00pm
                                .picture
                                    img.image(src='jam-namaste.jpg', alt='Jam Namaste')
                        .item
                            .text-picture
                                .text 
                                    h1 Adam Smith
                                    p Adam Smith is a self-taught multi instrumentalist who grew up in the mountains of Southeast Kentucky. 
                                        | He began writing songs in his early teens upon hearing Joni Mitchell’s album "Blue" which he says 
                                        | changed his life forever. He has since released three full-length studio albums and toured the
                                        | United States, bringing his unique sound to a growing number of loyal fans. Adam now resides in 
                                        | Phoenix AZ and is working on a brand new project which can be expected to release this year.
                                    a.link(href='http://adamsmithmusicart.com' target='_blank') Visit Adam Smith's Website 
                                    h1.time.acoustic 3:15pm - 4:00pm
                                .picture
                                    img.image(src='adam-smith.jpg', alt='Adam Smith')
                        .item
                            .text-picture
                                .text 
                                    h1 Saith
                                    p Saith is a singer/songwriter and producer whose mission in music has always been guided by a 
                                        | deep sense of music as a medium of transformation...and transPORTation. Using the simple 
                                        | power of song, Saith has spent the last 20 years developing his songwriting and has found 
                                        | that the music gets simpler instead of more complex. But it has always resonated with the 
                                        | same spirit of taking the listener to another place while soothing the heart in its sound, 
                                        | and touching the mind with lyrics that are a well thought out kind of "Soul Medicine."
                                        | It may come through in the form of rock, soul, folk, singer/songwriter, or any other combination 
                                        | of sounds, but those genres have only ever been sub-genres to his first... Original, Medicinal 
                                        | Heart Music. Check Out saithmusic.com and saithstudios.com to learn more.
                                    a.link(href='https://www.reverbnation.com/saith' target='_blank') Visit Saith's Website 
                                    h1.time.acoustic 4:15pm - 5:00pm
                                .picture
                                    img.image(src='saith.jpg', alt='Saith')
                    
                    a.left.carousel-control(href='#acoustic-carousel',  role='button', data-slide='prev')
                        span.icon-prev(aria-hidden='true')
                        span.sr-only Previous
                    
                    a.right.carousel-control(href='#acoustic-carousel',  role='button', data-slide='next')
                        span.icon-next(aria-hidden='true')
                        span.sr-only Next
                        
                .clearfix
                


block page-styles
    link(rel="stylesheet", href="/bootstrap.css", type="text/css")

block page-scripts
    script(src="/bootstrap.js" type="text/javascript")
