extends ./shared/layout

block main
    .container#CONTACT
        .outer-container
            .inner-container
            
                .contact-container.float-left
                    h2.no-top-margin Contact Us
                    p.no-bottom-margin Questions? Drop us a note at
                    p.no-top-margin
                        a.link(href='mailto:phxveganfest@gmail.com') phxveganfest@gmail.com
                        
                    br
                    
                    .icons
                        p.no-margin#SocialUsername @phxveganfest 
                        .center-icons-container.center
                            a.link(href='https://www.instagram.com/phxveganfest', target='_blank')
                                i.fa.fa-instagram.icon#instagram(title='Checkout awesome pictures of great vegan food!')
                            a.link(href='https://twitter.com/phxveganfest', target='_blank')
                                i.fa.fa-twitter-square.icon#twitter(title='Look for updates and new posts from PHXveganfest!')
                            a.link(href='https://www.facebook.com/phxveganfest', target='_blank') 
                                i.fa.fa-facebook-square.icon#facebook(title='Checkout the facebook event and invite your friends!')
                            .clearfix
                        p.center.no-top-margin Get social with us! 
                    
                    br
                    br
                    //.big-link
                        a.link(href='https://davissonent.tixato.com/buy/phx-vegan-festival', target='_blank') Purchase Tickets
                    
                    br
                    
                    a.link.center(href='http://www.davissonentertainment.com/#!aboutus/c2414', target='_blank')
                        img.image(src='davisson-entertainment.jpg', alt='Davisson Entertainment')
                        
                .contact-container-image.float-right
                    img.image(src='http://lorempixel.com/400/600/people/4')
                    
                .clearfix
                    
                    
block page-styles
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")