extends ./shared/layout

block main
    .container#HOME
        .outer-container
            .inner-container
            
                .big-link.font-red.font-largest Ticket Link Coming Soon!
                
                p.center Davisson Entertainment is proud to present the 
                    | second annual Phoenix Vegan Food Festival on 
                    | Saturday, February 25, 2017!
                    
                include ./shared/Components/venue-information
                    
                br
                
                include ./shared/Components/ticket-information