extends ./shared/layout

block main
    .container#HOME
        .no-overflow-container
            .home-top-image-container
                img.image(src="/website-home.png")
        .outer-container
            .inner-container
            
                include ./shared/Components/ticket-link.jade
                
                p.center Davisson Entertainment is proud to present the 
                    | second annual Phoenix Vegan Food Festival on 
                    | Saturday, February 25, 2017!
                    
                include ./shared/Components/venue-information
                    
                br
                
                include ./shared/Components/ticket-information