extends ./shared/layout

block main
    .container#INFO
        .outer-container
            .inner-container
                
                div
                    h1 Phoenix Vegan Food Festival
                    include ./shared/Components/venue-information
                br
                
                include ./shared/Components/ticket-information
                    
                    
block page-styles
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")