extends ./shared/layout

block main
    .container#INFO
        .outer-container
            .inner-container
                
                div
                    h1 PHX Vegan Food Festival
                    
                    .center
                        p The second annual PHX Vegan Food Festival returns to the Phoenix Theatre/Phoenix Art Museum complex. 
                            | The event showcases some of the state's best vegan and vegan friendly restaurants, food and beverage 
                            | purveyors, as well as clothing, accessories, personal care products, household items, and more. 
                            | This year's event promises to be even bigger and better, with a larger event space, more vendors, 
                            | numerous bars and beverage stations, two stages of live music, an improved kids zone, additional 
                            | demonstrations and presentations by chefs and industry experts, plus lower ticket prices!
                    
                    br
                    
                    include ./shared/Components/venue-information
                br
                
                include ./shared/Components/ticket-link.jade
                
                include ./shared/Components/ticket-information
                    
block page-styles
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")