extends ./shared/layout

block main
    .container#BANDS
        .outer-container
            .inner-container
                
                h2 PHX Vegan Food Festival 2017 Music Lineup
                p.small-container.center There will be over a dozen local bands and musicians playing during
                    | the 2017 PHX Vegan Food Festival.
                p.small-container.center  Visit this page as we get closer to February 25, 2017
                    | to see the list of amazing musicians!
                    
                br
                
                h3 Last Year's Bands & Musicians
                .image-grid
                    .image-grid-container
                        a.item-container(href='http://drinkingwatermusic.com' target='_blank')
                            .item-title-container
                            .center.title.font-white Drinking Water
                            img.image(src='/drinking-water-thumb.jpg', alt='Drinking Water')
                        a.item-container(href='http://foresteater.com' target='_blank')
                            .item-title-container
                            .center.title.font-white Foresteater
                            img.image(src='/foresteater-thumb.jpg', alt='Foresteater')
                        a.item-container(href='https://www.sonicbids.com/band/weslynnmusic/audio' target='_blank')
                            .item-title-container
                            .center.title Weslynn
                            img.image(src='/weslynn-thumb.jpg', alt='Weslynn')
                        a.item-container(href='https://www.reverbnation.com/pridethroughstrife' target='_blank')
                            .item-title-container
                            .center.title.font-white Pride Through Strife
                            img.image(src='pride-through-strife-thumb.jpg', alt='Pride Through Strife')

                        a.item-container(href='http://www.soulectiveaz.com' target='_blank')
                            .item-title-container
                            .center.title.font-white Soulective
                            img.image(src='soulective-thumb.jpg', alt='Soulective')
                        a.item-container(href='https://soundcloud.com/shaye-jennings' target='_blank')
                            .item-title-container
                            .center.title Shaye Jennings
                            img.image(src='/shaye-jennings-thumb.jpg', alt='Shaye Jennings')
                        a.item-container(href='https://www.facebook.com/kelirutledgemusic' target='_blank')
                            .item-title-container
                            .center.title Keli May Rutledge
                            img.image(src='keli-may-rutledge-thumb.jpg', alt='Keli May Rutledge')
                        a.item-container(href='https://soundcloud.com/jam_namaste' target='_blank')
                            .item-title-container
                            .center.title.font-white Jam Namaste
                            img.image(src='jam-namaste-thumb.jpg', alt='Jam Namaste')

                        a.item-container(href='http://adamsmithmusicart.com' target='_blank')
                            .item-title-container
                            .center.title.font-white Adam Smith
                            img.image(src='adam-smith-thumb.jpg', alt='Adam Smith')
                        a.item-container(href='https://www.reverbnation.com/saith' target='_blank')
                            .item-title-container
                            .center.title.font-white Saith
                            img.image(src='saith-thumb.jpg', alt='Saith')
                        .item-container
                            .item-title-container
                            .center.title Kross Warr
                            img.image(src='/kross-warr-thumb.jpg', alt='Kross Warr')
                        .item-container
                            .item-title-container
                            .center.title Raye Jones
                            img.image(src='/raye-thumb.jpg', alt='Raye Jones') 
                        
                        .clearfix


block page-styles
    //link(rel="stylesheet", href="/bootstrap.css", type="text/css")

block page-scripts
    //script(src="/bootstrap.js" type="text/javascript")
