extends ./shared/layout

block main
    .container#VENDORS
        .outer-container
            .inner-container
                
                p.font-red Anyone interested in becoming a vendor should email 
                    | <a href='mailto:phxveganfest@gmail.com'>phxveganfest@gmail.com</a> for an application. 
                
                .text-picture
                    .text
                        p Reach an audience of more than 2,000-targeted consumers who are looking to support the 
                            | vegan community! PHX Vegan Food Festival attendees are passionate about living a 
                            | vegan lifestyle and are looking for local businesses that offer vegan and vegan-friendly 
                            | food and products. 
                    .picture
                        img(src='/vendor-generic.jpg', alt='vendor image')
                    .clearfix
                    
                br
                
                h2 Vendors
                p Vendors will be provided a 10x10 booth to showcase their goods and 
                    | services. You may sample and/or sell items. We are looking for restaurants, 
                    | food and beverage products, household items, personal care items, clothing 
                    | and accessories.
                h4.no-bottom-margin VIP Swag Bags
                p.no-top-margin Reach a select audience at the PHX Vegan Food Festival by having a 
                    | sample of your product showcased in our VIP goody bags. 
                    | A minimum of 400 samples is required.
                    
                h2 Presenters
                p During the PHX Vegan Food Festival, we offer a full day of 
                    | entertainment for our guests. We are seeking vegan chefs and cookbook 
                    | authors, health and fitness experts, horticulturalists, and more to 
                    | demo recipes or provide a presentation during the festival.
                    
                br 
                
                h2 Phoenix Vegan Food Festival Demos & Discussions
                .container-demos.center
                    p.no-bottom-margin Jason Wyrivk 
                    p.no-margin Chef
                    p.no-bottom-margin <a class="link" href='http://wtfveganfood.com' target='_blank'>Kristin Lajeunesse</a>
                    p.no-margin Blogger and Author of "Will Travel for Vegan Food"
                    p.no-bottom-margin <a class="link" href='http://tesschallis.com' target='_blank'>Tess Challis</a>
                    p.no-margin Author, Wellness Coach, and Vegan Chef
                    
                br
                
                h2.center Food Vendors
                .link-container
                    .item
                        a.link(href='http://www.24carrotsjuice.com', target='_blank') 24 Carrots
                    .item
                        a.link(href='http://birdsnestbaking.com', target='_blank') Bird's Nest Baking Company
                    .item
                        a.link(href='http://www.cafelalibela.com', target='_blank') Cafe Lalibela
                    .item
                        a.link(href='https://www.instagram.com/charliesbrownies', target='_blank') Charlie's Brownies
                    .item
                        a.link(href='https://coconuthutaz.com', target='_blank') Coconut Hut 
                    .item
                        a.link(href='http://www.thecoronadophx.com', target='_blank') The Coronado Phx
                    .item
                        a.link(href='http://www.cuttingboardcafe.com', target='_blank') The Cutting Board Bakery & Cafe
                    .item
                        a.link(href='http://riothg.com', target='_blank') Farm & Craft
                    .item
                        a.link(href='http://www.fluffyvegans.com', target='_blank') Fluffy Vegans, LLC 
                    .item
                        a.link(href='http://www.hermosamexicanfoods.com', target='_blank') Hermosa Mexican Foods
                    .item
                        a.link(href='http://www.hummusxpress.com', target='_blank') Hummus Xpress
                    .item
                        a.link(href='http://ilikeikesplace.com', target='_blank') Ike's Love and Sandwiches
                    .item
                        a.link(href='http://www.juicecore.com', target='_blank') Juice Core
                    .item
                        a.link(href='http://kellyscroutons.com', target='_blank') Kelly's Croutons
                    .item
                        a.link(href='http://lulussorbetto.com', target='_blank') Lulu's Sorbetto
                    .item
                        a.link(href='http://www.nut-tropolis.com', target='_blank') Nut-Tropolis
                    .item
                        a.link(href='http://pbamericano.com', target='_blank') Peanut Butter Americano 
                    .item
                        a.link(href='http://www.pomegranatecafe.com', target='_blank') Pomegranate Cafe 
                    .item
                        a.link(href='http://purejoyplanet.com', target='_blank') Pure Joy Planet
                    .item
                        a.link(href='http://www.quinoaesta.com', target='_blank') Quinoa Esta Bakery
                    .item
                        a.link(href='https://www.saucylipsfoods.com', target='_blank') Saucy Lips
                    .item
                        a.link(href='http://www.simonshotdogs.net', target='_blank') Simon's Hot Dogs  
                    .item
                        a.link(href='https://www.facebook.com/SouthernFriedVegan', target='_blank') Southern Fried Vegan
                    .item
                        a.link(href='http://tepaburger.com', target='_blank') Tepa Burger
                    .item
                        a.link(href='http://udupiaz.com', target='_blank') Udupi Cafe
                    .item
                        a.link(href='http://urbanbeans.com', target='_blank') Urban Beans 24 Hour Bar & Cafe 
                    .item
                        a.link(href='http://www.veganinvasion.com', target='_blank') Vegan Invasion
                    .item
                        a.link(href='http://www.wisdomnectartea.com', target='_blank') Wisdom Nectar Tea                   
                    .clearfix
                
                
                h2.center Food Trucks
                .link-container
                    .item
                        a.link(href='http://www.affogatotruck.com', target='_blank') Affogato Truck  
                    .item
                        a.link(href='http://fritesstreet.com', target='_blank') Frites Street, LLC  
                    .item
                        a.link(href='http://www.locapopa.com', target='_blank') Loca Popa
                    .item
                        a.link(href='http://locallunchboxaz.com', target='_blank') Local Lunchbox
                    .item
                        a.link(href='http://www.miveganamadre.com', target='_blank') Mi Vegana Madre  
                    .item
                        a.link(href='http://www.mustachepretzels.com', target='_blank') Mustache Pretzels   
                    .item
                        a.link(href='http://phokinghungry.com', target='_blank') Pho King Kitchen and Food Truck 
                    .item
                        a.link(href='http://www.unitedlunchadores.com', target='_blank') United Lunchadores             
                    .clearfix
                    
                
                h2.center Product / Artisan Vendors (Non-Food Vendors)
                .link-container
                    .item
                        a.link(href='http://ahimsaessentials.com', target='_blank') Ahimsa Essentials  
                    .item
                        a.link(href='https://www.facebook.com/basilhilltribe', target='_blank') Basil Hilltribe 
                    .item
                        a.link(href='https://www.instagram.com/bathsouk', target='_blank') Bathsouk
                    .item
                        a.link(href='http://goclarendon.com', target='_blank') Clarendon Hotel
                    .item
                        a.link(href='http://www.compassionco.com', target='_blank') Compassion Co
                    .item
                        a.link(href='http://davissonstudio.com', target='_blank') Davisson Studio
                    .item
                        a.link(href='https://www.grapecat.com', target='_blank') Grape Cat Vegan Clothing and Accessories
                    .item
                        a.link(href='http://www.livingrawbygrace.com', target='_blank') Living Raw By Grace
                    .item
                        a.link(href='http://www.naturadeezeacs.net', target='_blank') Natura Deezeacs     
                    .item
                        a.link(href='http://majesticgarlicaz.com', target='_blank') Majestic Garlic 
                    .item
                        a.link(href='http://www.ohkaleyeah.com', target='_blank') Oh Kale Yeah Tees 
                    .item
                        a.link(href='http://www.recycledcity.com', target='_blank') Recycled City
                    .item
                        a.link(href='https://www.shaktiyogawheel.com', target='_blank') Shakti Yoga Wheel
                    .item
                        a.link(href='http://www.livingwhole.com', target='_blank') Solana Pure
                    .item
                        a.link(href='http://www.solarcity.com', target='_blank') Solar City
                    .item
                        a.link(href='http://vegjauntsandjourneys.com', target='_blank') Veg Jaunts & Journeys
                    .item
                        a.link(href='http://www.vegansrockapparel.com', target='_blank') Vegans Rock Apparel      
                    .item
                        a.link(href='http://zencomfort.info', target='_blank') Zen Comfort             
                    .clearfix
                    
                
                h2.center Non-Profits
                .link-container    
                    .item
                        a.link(href='http://animalplace.org', target='_blank') Animal Palace    
                    .item
                        a.link(href='http://www.peta.org', target='_blank') PETA  
                    .item
                        a.link(href='http://www.veganoutreach.org', target='_blank') Vegan Outreach     
                    .clearfix
                    
                
                //h2 Last Year's Vendors
                //img.image(src="/website-vendors.png")
                //p Visit this page as we get closer to February 25, 2017
                //    | for the list of 2017 vendors.
                
                
                //.item
                //    a.link(href='xxx', target='_blank') xxx
                