extends ./shared/layout

block main
    .container#VENDORS
        .outer-container
            .inner-container
                
                .text-picture
                    .text
                        p The Phoenix Vegan Food Festival will feature 
                            | some of the state’s favorite vegan restaurants, 
                            | food trucks, and vegan-friendly vendors. 
                        p Interested in becoming a vendor? Download the vendor 
                            | application and send to <a href='mailto:PHXveganfest@gmail.com'>PHXveganfest@gmail.com</a>
                    .picture
                        img(src='/vendor-generic.jpg', alt='vendor image')
                    .clearfix
                    
                br
                
                h2 Phoenix Vegan Food Festival Demos & Discussions
                .div(style='margin-left:300px')
                    p @12pm <a href='http://thevegantaste.com/chef-madelyn-pryor-bio' target='_blank'>Chef Madelyn Pryor</a>
                    p @1pm <a href='https://www.facebook.com/willtuckerfitness' target='_blank'>Will Tucker</a>
                    p @2pm <a href='http://thevegantaste.com/chef-jason-wyrick-bio' target='_blank'>Chef Jason Wyrick</a>
                    p @3pm <a href='http://yourcommunitycook.com' target='_blank'>Chef Ingrid Hirtz</a>
                    p @4pm <a href='https://locu.com' target='_blank'>Chef Sara Siso</a>
                
                br
                
                h2.center Food Vendors
                .link-container
                    .item
                        a.link(href='https://www.facebook.com/24Carrots/', target='_blank') 24 Carrots
                    .item
                        a.link(href='https://www.facebook.com/Beanfields/', target='_blank') Beanfield's Snacks
                    .item
                        a.link(href='https://www.facebook.com/BirdsNestBakingCompany/?fref=ts', target='_blank') Bird's Nest Baking Company
                    .item
                        a.link(href='https://www.facebook.com/Cafe-Lalibela-Ethiopian-Cuisine-117616808265181', target='_blank') Cafe Lalibela
                    .item
                        a.link(href='https://www.facebook.com/thecoronadophx/?fref=ts', target='_blank') The Coronado
                    .item
                        a.link(href='https://www.facebook.com/cuttingboardcafe/?fref=ts', target='_blank') Cutting Board Cafe
                    .item
                        a.link(href='https://www.facebook.com/FluffyVegansLLC/?fref=ts', target='_blank') Fluffy Vegans
                    .item
                        a.link(href='https://www.facebook.com/Green-Heart-Bakery-125106240851562/?fref=ts', target='_blank') Green Heart Bakery
                    .item
                        a.link(href='https://www.facebook.com/Hummus-Xpress-400250650066033/?fref=ts', target='_blank') Hummus Xpress
                    .item
                        a.link(href='https://www.facebook.com/issmagicmixes/?fref=ts', target='_blank') Iss' Magic Mixes Oatmeal Cafe
                    .item
                        a.link(href='https://www.facebook.com/JuiceCore/?fref=ts', target='_blank') Juice Core
                    .item
                        a.link(href='https://www.facebook.com/Mahfam-Artisanal-Handcrafted-Foods-1678604629029638/?fref=ts', target='_blank') Mahfam Artisanal Handcrafted Foods
                    .item
                        a.link(href='https://www.facebook.com/majesticgarlicaz/?fref=ts', target='_blank') Majestic Garlic AZ
                    .item
                        a.link(href='https://www.facebook.com/MiVeganaMadre/?fref=ts', target='_blank') Mi Vegana Madre
                    .item
                        a.link(href='https://niibar.com', target='_blank') Nii Bars
                    .item
                        a.link(href='https://www.facebook.com/PBAmericano/', target='_blank') PB Americano
                    .item
                        a.link(href='https://www.facebook.com/pomegranatecafe/?fref=ts', target='_blank') Pomegranate Cafe
                    .item
                        a.link(href='https://www.facebook.com/Ruchi-VegetarianVegan-Indian-Cuisine-780734355314065/?fref=ts', target='_blank') Ruchi Indian Vegetarian Cuisine
                    .item
                        a.link(href='https://www.facebook.com/simonshotdogs.page/', target='_blank') Simon's Hot Dogs
                    .item
                        a.link(href='https://www.facebook.com/treehousebakery/?fref=nf', target='_blank') Treehouse Bakery
                    .item
                        a.link(href='https://www.facebook.com/pages/Udupi-Cafe/340176109353438?fref=ts', target='_blank') Udupi Cafe
                    .item
                        a.link(href='https://www.facebook.com/urbanbeansaz/?fref=ts', target='_blank') Urban Beans
                    .item
                        a.link(href='https://www.facebook.com/volsteadpublichouse/?fref=ts', target='_blank') Volstead Public House/51 West
                    .item
                        a.link(href='https://www.facebook.com/willtuckerfitness/?pnref=lhc', target='_blank') Will Tucker Fitness (vegan cookies and bars)
                    .item
                        a.link(href='https://www.facebook.com/WisdomNectarTea/?fref=ts', target='_blank') Wisdom Nectar Tea
                    .clearfix
                
                h2.center Food Trucks
                .link-container
                    .item
                        a.link(href='https://www.facebook.com/AffogatoTruck/?fref=nf', target='_blank') Affogato Truck
                    .item
                        a.link(href='https://www.facebook.com/FritesStreet/?fref=ts', target='_blank') Frites Street
                    .item
                        a.link(href='https://www.facebook.com/MiVeganaMadre/?fref=ts', target='_blank') Mi Vegana Madre
                    .item
                        a.link(href='https://www.facebook.com/SouthernFriedVegan', target='_blank') Southern Fried Vegan
                    .clearfix
                    
                h2.center Product / Artisan Vendors (Non-Food Vendors)
                .link-container
                    .item
                        a.link(href='https://www.facebook.com/ahimsaEssentials/?fref=ts', target='_blank') Ahimsa Essentials
                    .item
                        a.link(href='https://www.facebook.com/Animal-Defense-League-of-Arizona-84977378986/?fref=ts', target='_blank') Animal Defense League of Arizona
                    .item
                        a.link(href='http://www.basilhilltribe.com', target='_blank') Basil Hill Tribe
                    .item
                        a.link(href='https://www.facebook.com/communitycuisine/?fref=ts', target='_blank') Community Cuisine
                    .item
                        a.link(href='https://www.facebook.com/crunchymamasmarket/?fref=ts', target='_blank') Crunchy Mamas' Market
                    .item
                        span.link(title='Cutco Cutlery does not have a facebook page.', style='color:blue;') Cutco Cutlery
                    .item
                        a.link(href='https://www.facebook.com/desertflowershop/?fref=ts', target='_blank') Desert Flower Shop
                    .item
                        a.link(href='http://www.jmpaa.com', target='_blank') Jade Moon Performing Arts Academy
                    .item
                        a.link(href='https://www.facebook.com/Joseph-Kremer-555405711302401', target='_blank') Joe Kremer
                    .item
                        a.link(href='https://www.facebook.com/ohkaleyeahtees/?fref=ts', target='_blank') Oh Kale Yeah!
                    .item
                        a.link(href='https://www.facebook.com/PeaboPots/?fref=ts', target='_blank') PeaboPots
                    .item
                        a.link(href='http://www.peta.org', target='_blank') PETA
                    .item
                        a.link(href='https://www.facebook.com/recycledcity', target='_blank') Recycled City
                    .item
                        a.link(href='https://www.facebook.com/StrawberryHedgehog/?fref=ts', target='_blank') Strawberry Hedgehog
                    .item
                        a.link(href='https://www.theundergroundfaction.com', target='_blank') The Underground Faction
                    .item
                        a.link(href='https://www.facebook.com/ZenComfort.info/?fref=ts', target='_blank') Zen Comfort
                    .clearfix