extends ./shared/layout

block main
    .container#VENDORS
        .outer-container
            .inner-container
                
                .text-picture
                    .text
                        p The Phoenix Vegan Food Festival will feature 
                            | some of the state’s favorite vegan restaurants, 
                            | food trucks, and vegan-friendly vendors. 
                        p Interested in becoming a vendor? Download the vendor 
                            | application and send to <a href='mailto:PHXveganfest@gmail.com'>PHXveganfest@gmail.com</a>
                    .picture
                        img(src='/vendor-generic.jpg', alt='vendor image')
                    .clearfix
                    
                br
                
                h2 Phoenix Vegan Food Festival Demos & Discussions
                p.small-container.center We are planning on showcasing live vegan cooking 
                    | demonstrations and informative discussions and lectures.
                p.small-container.center Visit this page as we get closer to February 25, 2017
                    | to see the list of amazing chefs, trainers, and vegans
                    | that are here to educate and entertain!
                
                br
                
                h2.center Food Vendors
                p.font-red.font-large.center TBA
                
                br
                
                h2.center Food Trucks
                p.font-red.font-large.center TBA
                    
                br
                    
                h2.center Product / Artisan Vendors (Non-Food Vendors)
                p.font-red.font-large.center TBA