extends ./shared/layout

block main
    .container#VOLUNTEER
        .outer-container
            .inner-container
            
                //a.link(href='http://vols.pt/4yeW4a', target='_blank')
                h1 Volunteer
                
                p.center Thank you so much for your interest in assisting with our
                    | second annual PHX Vegan Food Festival on February 25, 2017! 
                    | Volunteers are integral to the success of this amazing event. 
                    | We are seeking volunteers to help us with pre-event tasks, 
                    | as well as day of event support, with set-up, event management, 
                    | and teardown. As a thank you for your time, all volunteers will 
                    | receive one general admission ticket to the PHX Vegan Food 
                    | Festival as well as a voucher for 1 courtesy meal from any of our food vendors. 
                p.small-container.center If you're interested in volunteering, email 
                    | Davisson Entertainment at 
                    | <a href="mailto:phxveganvolunteers@gmail.com?subject=Volunteer 2017">phxveganvolunteers@gmail.com</a>. 
                    | Please put "volunteer" in the subject line. In the email, 
                    | please be sure to provide your first and last name, the 
                    | best email address to reach you and a daytime and evening phone number.
                
                br
                
                include ./shared/Components/venue-information
                
                //.big-link 
                    a.link(href='http://vols.pt/4yeW4a', target='_blank') Volunteer Now 