extends ./shared/layout

block main
    .container#VOLUNTEER
        .outer-container
            .inner-container
            
                a.link(href='http://vols.pt/4yeW4a', target='_blank')
                    img.image(src='/volunteer-now.jpg', alt='volunteer now')
                
                p.center Thank you so much for your interest in helping out 
                    | with our first annual Phoenix Vegan Food Festival on 
                    | February 27, 2016! We're excited to highlight some of the 
                    | Valley's best vegan food vendors, musicians, and artisans 
                    | at a great venue, The Phoenix Theatre and Phoenix Art Museum Campus.
                p.center Please click on the link below to reserve a spot on our team!
                    
                .big-link 
                    a.link(href='http://vols.pt/4yeW4a', target='_blank') Volunteer Now