extends ./shared/layout

block main
    .container#VOLUNTEER
        .outer-container
            .inner-container
            
                //a.link(href='http://vols.pt/4yeW4a', target='_blank')
                img.image(src='/volunteer-now.jpg', alt='volunteer now')
                
                p.center Thank you so much for your interest in helping out
                    | with our second annual Phoenix Vegan Food Festival on
                    | February 25, 2017! We're excited to highlight some of the
                    | Valley's best vegan food vendors, musicians, and artisans.
                p.small-container.center If you're interested in volunteering, 
                    | please email Davisson Entertainment at
                    | <a href="mailto:phxveganfest@gmail.com?subject=Phoenix Vegan Fest Volunteer 2017">phxveganfest@gmail.com</a>.
                    
                include ./shared/Components/venue-information
                
                //.big-link 
                    a.link(href='http://vols.pt/4yeW4a', target='_blank') Volunteer Now 