#Vote
    a(href="http://readerschoice.phoenixnewtimes.com/#5010336" target="_blank")
        .newtimes-container
            .left-container
                img(src="/newtimes-logo.jpg")
            .right-container
                img(src="/newtimes-vote.jpg")
            .clearfix