#TicketInformation
    .ticket-container
        h2.center.no-margin Ticket Information <span class="font-red font-smallest">(link coming soon)</span>
        .ticket-inner-container
            p.no-margin.font-bold Kids 12 and under are free!
            p.no-top-margin <i>DISCOUNT</i>: $5 Tickets from 5PM-6PM (last hour of the festival). 
            .half-container
                p.no-margin.font-bold General Admission*
                p.no-margin.indent 
                    span.strikethrough
                        span PRESALE - $20 
                p.no-margin.indent.font-red Early Bird Presale - $15 
                p.no-top-margin.indent DOOR - $25
                p.font-small.no-bottom-margin *General admission includes access to the event, 
                    | food samples, live entertainment and a drink token.
            .half-container
                p.no-margin.font-bold VIP Admission**
                p.no-margin.indent 
                    span.strikethrough
                        span PRESALE - $40 
                p.no-margin.indent.font-red Early Bird Presale - $30
                p.no-top-margin.indent DOOR - $50 
                p.font-small.no-bottom-margin **VIP includes 1 hour early access, 
                    | private VIP entrance directly into festival, 
                    | food samples, live entertainment, 2 drink tokens, 
                    | meet and greet and SWAG bag.
            .clearfix