#TicketInformation
    .ticket-container
        h2.center.no-bottom-margin Ticket Information <span class="font-red font-smallest">(link coming soon)</span>
        p.no-margin.font-bold Kids 12 and under are free!
        p.no-top-margin <i>DISCOUNT</i>: $5 Tickets from 5PM-6PM (last hour of the festival). 
        .half-container
            p.no-margin.font-bold General Admission*
            p.no-margin.indent PRESALE - $15 
            p.no-top-margin.indent DOOR - $20
            p.font-small *General admission includes access to the event, 
                | food samples, live entertainment and a drink token.
        .half-container
            p.no-margin.font-bold VIP Admission**
            p.no-margin.indent PRESALE - $30 
            p.no-top-margin.indent DOOR - $40 
            p.font-small **VIP includes 1 hour early access to the event, 
                | food samples, live entertainment, 2 drink tokens, 
                | meet and greet and SWAG bag.
        .clearfix