#TicketInformation
    .ticket-container
        a(href="https://davisson-entertainment-llc.ticketleap.com/phxvff")
            h2.center.no-margin Ticket Information
            .ticket-inner-container
                p.no-margin.font-bold Kids 12 and under are free!
                p.no-top-margin <i>DISCOUNT</i>: $5 Tickets from 5:00PM-6:00PM (last hour of the festival). 
                .half-container
                    p.no-margin.font-bold General Admission*
                    p.no-margin.indent 
                        span.strikethrough
                            span PRESALE - $17 
                    p.no-margin.indent.font-red Early Bird Special (online only for a limited time) - $15 
                    p.no-top-margin.indent DOOR - $20
                    p.font-small.no-bottom-margin *General admission includes access to the event, 
                        | food samples, live entertainment, and demos.
                    p.font-small.no-bottom-margin.font-red One Free Drink Token when you purchase
                        | an Early Bird Special or Presale ticket.
                .half-container
                    p.no-margin.font-bold VIP Admission**
                    p.no-margin.indent 
                        span.strikethrough
                            span PRESALE - $30 
                    p.no-margin.indent.font-red Early Bird Special (online only for a limited time) - $27
                    p.no-top-margin.indent DOOR - $40 
                    p.font-small.no-bottom-margin **VIP includes 1 hour early entry beginning at 10am, 
                        | food samples, live entertainment, reserved seating area during chef demo's, 
                        | 2 beverage tokens to be redeemed for beer, wine, soda or tea at the VIP beverage 
                        | tent, private VIP entrance, VIP swag bag ($17 value) and other added benefits.
                        
                .clearfix