#VenueInformation
    .venue-outer-container
        .venue-inner-container
            h4.no-bottom-margin Event Information
            p.no-margin.indent February 25, 2017 
            p.no-bottom-margin.indent 10am VIP Only
            p.no-margin.indent 11am General Admission
            p.no-margin.indent 5pm Discount Tickets
            p.no-top-margin.indent 6pm End
            a(href="https://www.google.com/maps/place/Phoenix+Theatre/@33.465941,-112.073887,16.5z/data=!4m5!3m4!1s0x0:0x5ec30261b11f99d0!8m2!3d33.4669087!4d-112.0723593" target="_blank")
                p.no-margin.indent Phoenix Theatre & Phoenix Art Museum Campus
            
        
        img.float-right(src="/website-people-collage.jpg")
        .clearfix